numpy==1.19.5
coremltools==5.1.0
Keras==2.1.2
matplotlib==3.3.4
nltk==3.4.5
onnx==1.10.2
opencv_python==4.2.0.32
pafy==0.5.5
pandas==1.1.5
patool==1.12
Pillow==8.4.0
pretrainedmodels==0.7.4
PyYAML==6.0
requests==2.22.0
rootpath==0.1.1
scikit_learn==1.0.2
scipy==1.4.1
seaborn==0.11.1
setuptools==58.0.4
stanfordcorenlp==3.9.1.1
tensorflow==1.4.0
thop==0.0.31.post2005241907
torch==1.8.1
torchvision==0.9.1
tqdm==4.43.0
wandb==0.12.9